<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/header.ejs') %>

  <body>
    <%- include('../partials/nav.ejs') %>

    <div class="blog content">
      <h2>about us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae omnis
        quia iste veritatis exercitationem nostrum pariatur deleniti vel,
        veniam, quidem voluptatem? Nisi atque asperiores ex nihil quis ullam,
        veritatis aliquid?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae omnis
        quia iste veritatis exercitationem nostrum pariatur deleniti vel,
        veniam, quidem voluptatem? Nisi atque asperiores ex nihil quis ullam,
        veritatis aliquid?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae omnis
        quia iste veritatis exercitationem nostrum pariatur deleniti vel,
        veniam, quidem voluptatem? Nisi atque asperiores ex nihil quis ullam,
        veritatis aliquid?
      </p>
    </div>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
