<nav>
  <div class="site-title">
    <a href="/"><h1>Blogs</h1></a>
    <p>Dev Journey Site</p>
  </div>
  <ul>
    <li><a href="/">Blogs</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">New Blog</a></li>
  </ul>
</nav>

<!-- midlewera is just a func or code whihc runs the server betwen the reqeust coming in and resposne going backto t he browsder -->