<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document | <%= title %></title>
  </head>
  <body>
    <nav>
      <div class="site-title">
        <a href="/">nija site</a>
        <p>a ninja site</p>
      </div>
      <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/blogs/create">new blog</a></li>
      </ul>
    </nav>
    <div class="blog content">
      <h2>OOps page not found</h2>
    </div>
  </body>
</html>
