<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header.ejs') %>

  <body>
    <%- include('partials/nav.ejs') %>

    <div class="blog-create content">
      <form>
        <label for="title">Blog Title:</label>
        <input type="text" id="title" required />
        <label for="snippet"> blog snippet:</label>
        <input type="text" id="snipped" required />
        <label for="body">Blog body:</label>
        <input type="text" id="body" required />
        <button>submit</button>
      </form>
    </div>
    <%- include('partials/footer.ejs') %>

  </body>
</html>
